.App {
  text-align: center;
}
.css-v3d350 {
    font-size: 16px;
    color: rgb(33, 33, 33);   
    font-weight: 600;
    margin-bottom: 10px;
}
.ant-layout{
  background: #ffffff !important;
}
.icon{
  margin: 0px 10px;
}
.easy{
  color: rgb(67, 160, 71);
}

.css-10o4wqw{
  display: flex;
  white-space: nowrap;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  color: rgb(84, 110, 122);
  line-height: 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
  padding-bottom: 10px;
}
.content{
  margin-top:10px;
}
.bottom-content p{
  display: inline-block;
  margin-right: 20px;
  font-size: 13px;
}
.bottom-content p span{
  margin-right: 5px;
  margin-left: 5px;
}
.content pre{
  background: #f7f9fa;
  padding: 10px 15px;
  color: #263238;
  line-height: 1.6;
  font-size: 13px;
  border-radius: 3px;
}
.description.content{
  padding: 0px 20px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
